* {
    box-sizing: border-box;
}

body {
    font-family: Verdana;
    color: white;
}

.logoDiv {
    display: flex;
    justify-content: center;
    padding: 0;
}

.logo {
    height: 100px;
}

nav {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

.btn {
    margin: 1rem;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: #1e90ff;
    padding: 10px 30px;
    border: solid #1e90ff 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border-radius: 50px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.btn:hover{
    transition : 1000ms;
    padding: 10px 50px;
    transform : translateY(-0px);
    background-color: #fff;
    color: #1e90ff;
    border: solid 2px #1e90ff;
}

.container {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    border-radius: 15px;
    background-color: dodgerblue;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    
}

.playerPic {
    height: 70vh;
}